.label {
    -fx-background-color: #881122;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-padding: 8px;
}

.reply-label,
.reply-label:focused {
    -fx-background-color: #1E2030;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Monospaced";
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}
